---
layout: default
---
<div class="post">

  <header class="post-header">

    <span class="post-title">
        {% assign name = site.name | split: ' ' %}
        <strong>{{ name | first }}</strong> {{ name | last }}
    </span>
    <h5 class="post-description">{{ site.description }}</h5>
  </header>

  <article class="post-content {{site.name}} clearfix">
    {{ content }}
  </article>

  {% if page.news %}
    {% include news.html %}
  {% endif %}

  {% if page.social %}
    {% include social.html %}
  {% endif %}

</div>
