---
layout: default
---
<div class="post">

  <header class="post-header">

    <span class="post-title">
        <strong>{{ site.first_name }}</strong> {{ site.last_name }}
    </span>
    <h5 class="post-description">{{ site.description }}</h5>
  </header>

  <article class="post-content {{site.first_name}} {{site.last_name}} clearfix">
    {{ content }}
  </article>

  {% if page.social %}
    {% include social.html %}
  {% endif %}

  {% if site.show_news and page.news %}
    {% include news.html %}
  {% endif %}

</div>
